
<button mat-button [matMenuTriggerFor]="clinic" class="custom-management-button">Management</button>
<button mat-button [matMenuTriggerFor]="clinic" class="custom-management-button" id="exit-button" (click)="navigateToLogin()">Exit</button>

<mat-menu #clinic="matMenu" class="custom-mat-menu">
  <button mat-menu-item [matMenuTriggerFor]="owner">Owner Management</button>
  <button mat-menu-item [matMenuTriggerFor]="pet">Pet Management</button>
  <button mat-menu-item [matMenuTriggerFor]="invoice">Invoice Management</button>
  <button mat-menu-item [matMenuTriggerFor]="appointment">Appointment Management</button>
  <button mat-menu-item [matMenuTriggerFor]="admin">Administrator Management</button>
</mat-menu>

<mat-menu #owner="matMenu" class="custom-mat-menu">
  <button mat-menu-item (click)="navigateToCreateOwner()">Create New Owner</button>
  <button mat-menu-item (click)="navigateToFindOwnerByEmail()">Find Owner By Email</button>
  <button mat-menu-item (click)="navigateToFindOwnerByDni()">Find Owner By DNI</button>
  <button mat-menu-item (click)="navigateToFindOwnerById()">Find Owner By Id</button>
  <button mat-menu-item (click)="navigateFindAllOwners()">Find All Owners</button>
  <button mat-menu-item (click)="navigateToDeleteOwnerById()">Delete Owner By Id</button>
  <button mat-menu-item (click)="navigateToUpdateOwnerById()">Update Owner By Id</button>
  <button mat-menu-item (click)="navigateToDownloadCsvOwner()">Download Info Owners File Csv</button>
  <button mat-menu-item (click)="navigateToDownloadJsonOwner()">Download Info Owners File Json</button>
</mat-menu>

<mat-menu #admin="matMenu" class="custom-mat-menu">
  <button mat-menu-item [matMenuTriggerFor]="user">Users Management</button>
  <button mat-menu-item [matMenuTriggerFor]="role">Role Management</button>
</mat-menu>


<mat-menu #user="matMenu" class="custom-mat-menu">
  <button mat-menu-item (click)="navigateToFindUserById()">Find User By Id</button>
  <button mat-menu-item (click)="navigateToFindUserByDni()">Find User By DNI</button>
  <button mat-menu-item (click)="navigateToFindAllUser()">Find All Users</button>
  <button mat-menu-item (click)="navigateToUpdateUserById()">Update User By Id</button>
  <button mat-menu-item (click)="navigateToDeleleteUserById()">Delete User By Id</button>
  <button mat-menu-item (click)="navigateToDownloadCsvUser()">Download File Csv Users</button>
  <button mat-menu-item (click)="navigateToDownloadJsonUser()">Download File Json Users</button>
  <button mat-menu-item (click)="navigateToUpdateRoleUser()">Update User Role</button>
</mat-menu>


<mat-menu #pet="matMenu" class="custom-mat-menu">
  <button mat-menu-item (click)="navigateToCreatePet()">Create New Pet</button>
  <button mat-menu-item (click)="navigateToFindPetById()">Find Pet By Id</button>
  <button mat-menu-item (click)="navigateToFindPetByCode()">Find Pet By Code</button>
  <button mat-menu-item (click)="navigateToFindAllPets()">Find All Pets</button>
  <button mat-menu-item (click)="navigateToDeleletePetById()">Delete Pet By Id</button>
  <button mat-menu-item (click)="navigateToUpdatePetById()">Update Pet By Id</button>
  <button mat-menu-item (click)="navigateToDownloadCsvPet()">Download File Csv Pets</button>
  <button mat-menu-item (click)="navigateToDownloadJsonPet()">Download File Json Pets</button>
</mat-menu>

<mat-menu #invoice="matMenu" class="custom-mat-menu">
  <button mat-menu-item (click)="navigateToCreateInvoice()">Create New Invoice</button>
  <button mat-menu-item (click)="navigateToFindInvoiceById()">Find Invoice By Id</button>
  <button mat-menu-item (click)="navigateToFindInvoiceByClientDni()">Find Invoice By Client DNI</button>
  <button mat-menu-item (click)="navigateToFindInvoicesByState()">Find Invoice By State</button>
  <button mat-menu-item (click)="navigateToFindAllInvoices()">Find All Invoices</button>
  <button mat-menu-item (click)="navigateToDeleteInvoiceById()">Delete Invoice By Id</button>
  <button mat-menu-item (click)="navigateToUpdateInvoiceById()">Update Invoice By Id</button>
  <button mat-menu-item (click)="navigateToDownloadCsvInvoice()">Download File Csv Invoices</button>
  <button mat-menu-item (click)="navigateToDownloadJsonInvoice()">Download File Json Invoices</button>
</mat-menu>

<mat-menu #appointment="matMenu" class="custom-mat-menu">
  <button mat-menu-item (click)="navigateToCreateAppointment()">Create New Appointment</button>
  <button mat-menu-item (click)="navigateToFindAppointmentById()">Find Appointment By Id</button>
  <button mat-menu-item (click)="navigateToFindAppointmentByPetId()">Find Appointment By Pet Id</button>
  <button mat-menu-item (click)="navigateToFindAppointmentByVeterinarianId()">Find Appointment By Veterinarian Id</button>
  <button mat-menu-item (click)="navigateToFindAppointmentByState()">Find Appointments By Date</button>
  <button mat-menu-item (click)="navigateFindAllAppointment()">Find All Appointments</button>
  <button mat-menu-item (click)="navigateToDeleteAppointmentById()">Delete Appointment By Id</button>
  <button mat-menu-item (click)="navigateToUpdateAppointmentById()">Update Appointment By Id</button>
  <button mat-menu-item (click)="navigateToDownloadCsvAppointment()">Download File Csv Appointment</button>
  <button mat-menu-item (click)="navigateToDownloadJsonAppointment()">Download File Json Appointment</button>
</mat-menu>

<mat-menu #role="matMenu">
  <button mat-menu-item (click)="navigateToCreateRole()">Create Role</button>
  <button mat-menu-item (click)="navigateToFindRoleById()">Find Role By Id</button>
  <button mat-menu-item (click)="navigateToFindAllRoles()">Find All Roles</button>
  <button mat-menu-item (click)="navigateToUpdateRoleByID()">Update Role By Id</button>
  <button mat-menu-item (click)="navigateToDeleteRoleById()">Delete Role By Id</button>
</mat-menu>


