
.custom-management-button {
  letter-spacing: 3px;
  background-color: #2196F3; /* Color de fondo */
  color: white; /* Color del texto */
  font-weight: bold; /* Texto en negrita */
  padding: 10px 20px; /* Relleno alrededor del texto */
  border-radius: 5px; /* Bordes redondeados */
  border: none; /* Sin borde */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.5s ease, color 0.5s ease, text-shadow 0.5s ease; /* Transición suave al cambiar el color de fondo */
  margin-left: 2%;
}

.custom-management-button:hover {
  background-color: #2681dc; /* Color de fondo al pasar el ratón */
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra oscura al texto */
  /*transition: ease 0.5s;*/
}

.custom-management-button:active {
  background-color: #5486d0; /* Color de fondo al hacer clic */
  transition: background-color 1.5s ease; /* Transición más lenta al hacer clic */
}

/* Estilo para el menú en general */
.custom-mat-menu .mat-menu-content {
  background-color: #f0f0f0; /* Color de fondo del menú */
  border: 1px solid #ccc; /* Borde del menú */
  border-radius: 8px; /* Bordes redondeados */
}

/* Estilo para los elementos del menú */
.custom-mat-menu .mat-menu-item {
  color: #333; /* Color del texto */
  padding: 10px 20px; /* Relleno */
  transition: background-color 0.3s ease; /* Transición suave */
}

/* Estilo para los elementos del menú al pasar el ratón */
.custom-mat-menu .mat-menu-item:hover {
  background-color: #e0e0e0; /* Color de fondo al pasar el ratón */
}

/* Estilo para los elementos del menú activos */
.custom-mat-menu .mat-menu-item.mat-menu-item-active {
  background-color: #d0d0d0; /* Color de fondo del elemento activo */
  font-weight: bold; /* Texto en negrita */
}

#exit-button {
  color: red;
  letter-spacing: 4px;
  background-color: white;
  transition: color 1s ease, background-color 1s ease, border-color 1s ease;
}

#exit-button:hover {
  color: white;
  background-color: black;
  border: solid 1px;
  border-color: red;
  transition: ease 1s;
}