nav {
  text-align: center;
  background-color: #f8f9fa; /* Ejemplo de color de fondo */
}

nav .button {
  display: inline-block;
  margin: 0 10px; /* Espacio entre los enlaces */
  text-decoration: none;
  color: #007bff; /* Color del texto */
}

nav .button.activebutton {
  font-weight: bold;
  color: #0056b3; /* Color del texto activo */
}
