<div class="card-container">
    <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Create Pet</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="form-custom" [formGroup]="formCreatePet">
                <mat-form-field class="input-custom">
                    <mat-label>ID of the veterinarian in charge of the pet</mat-label>
                    <input matInput formControlName="idVeterinarian" placeholder="Ex. 123">
                </mat-form-field>
                <mat-form-field class="input-custom">
                    <mat-label>Name Pet</mat-label>
                    <input matInput formControlName="name" placeholder="Name...">
                </mat-form-field>
                <mat-form-field class="input-custom">
                    <mat-label>description</mat-label>
                    <input matInput formControlName="description" placeholder="Description of the pet...">
                </mat-form-field>
                <mat-form-field class="input-custom">
                    <mat-label>Birtdathe</mat-label>
                    <input matInput formControlName="birthdate" placeholder="dd-mm-yyyy" maxlength="10">
                </mat-form-field>

                <div class="flex">
                    <button mat-flat-button color="primary" (click)="createPet()">Create</button>
                    <button mat-flat-button color="warn" (click)="returnHome()" style="margin-left: 9px;">Return Home</button>
                </div>
            </form>
        </mat-card-content>
      </mat-card>
</div>